
*{
    margin: 0 auto;
    box-sizing: border-box;
    color: #fff;
    font-family: consolas;
}

#main-container{
    height: 100vh;
    width: 100vw;
    background: #111;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.text-center{
    text-align: center;
}

/* -------------------------------------Navigation Bar-------------------------------------------------- */

.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1%;
    margin-left: 80%;
}

.nav-bar li{
    display: inline-block;
    text-decoration: none;
}

.nav-bar li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 0px solid lightgrey;

}
.nav-bar li a:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid gray;
}


/* Film Main Conatiner css */

#film-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* #film-poster img */

#poster
{
    height: 60vh;
    width: 30vw;
    border: 2px solid black;
    box-shadow: 0 0 20px #111;
}

#film-name{
    width: 30vw;
    height: 10vh;
    margin:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    overflow: hidden;
}

/* -------------------------------------DIV Conatiners CSS-------------------------------------------------- */

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 40vw;
    height: auto;
    color: white;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    transition: 0.5s;
}

.container .box:hover{
    transform: translateY(-20px) ;

}

.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
}
.container .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    filter: blur(30px);
}

.container .box::before,
.container .box::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.container .box2::before,
.container .box2::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}

.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
.container .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.container .box .content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

/* -------------------------------------UL List-------------------------------------------------- */

.li-item{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 5%;
    margin-top: 10px;
    font-size: large;
    color: #fff; 
}

#Favourites-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
    left:10vw
}
#Favourites-button:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 1200px){
    .li-item{
        font-size: medium;
    }
    #Favourites-button{
        left:7vw
    }
}
@media only screen and (max-width: 900px){
    .li-item{
        font-size: small;
    }
    #Favourites-button{
        left:2vw
    }
}
@media only screen and (max-width: 700px){
    #Favourites-button{
        left:0vw
    }
    .li-item{
        font-size: xx-small;
    }
}